body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
p{
  padding: 0;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --primaryColor: #2D2F87;
  --secondaryColor: #2D2F82;
  --greyColor: #5C5C5C;
  --greenColor: #008000;
  --whiteColor: #FFFFFF;
  --grey400Color: #909090;
  --blueColor: #2D2F7D;
  --blackColor: #121212;
  --grey100Color: #E5E5E5;
  --yellowColor: #FFD800;
  --redColor: #BA0829;
}