.swiper_for_carousel {
    height: 100%;
    // max-height: 300px !important;
    // background-color: red !important;
    width: 100%;
    // min-height: auto !important ;
   
  }
  .swiper_for_cards {
    height: auto ;

  }